* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

::selection {
    color: none;
    background: none;
}

/* Navbar */
nav {
    width: 100%;
    background-color: #1c4ba4;
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Navbar Logo */
.logo {
    float: left;
    margin-left: 20px;
}

/* Navbar Main Menu */
.main-menu {
    float: left;
    margin-left: 20px;
}

nav .main-menu li {
    display: inline-block;
    margin-left: 12px;
}

nav .main-menu li a {
    color: white;
    padding: 5px;
    padding-bottom: 15px;
    font-weight: 600;
    line-height: 60px;
    font-size: 1.4em;
}

nav .main-menu li label {
    color: white;
    padding: 5px;
    padding-bottom: 15px;
    font-weight: 600;
    line-height: 60px;
    font-size: 1.4em;
}

nav ul .others a:hover {
    border-bottom: 4px solid white;
}

nav ul li label:hover {
    border-bottom: 4px solid white;
    cursor: pointer;
}

/* Navbar Dropdown */
#knowledge {
    display: none;
}

.knowledge-content {
    margin-top: 20px;
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    background-color:#eaecff;
    z-index: 1;
}

#knowledge:checked ~ .knowledge-content {
    display: block;
}

.dropdown-box {
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    float: left;
    margin-top: 2.5%;
}

.dropdown-menu2 {
    float: left;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-right: 2%;
}

.dropdown-menu3 {
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;  
    padding-left: 1.5%;
    border-left: 1px solid black;
}



.dropdown-menu .dropdown-menu-box a {
    color: black;
    font-size: 1.6em;
 
}

.dropdown-menu2 .dropdown-menu-box a {
    color: black;
    font-size: 1.6em;
}

.dropdown-menu .dropdown-menu-box i {
    color:#1c4ba4;
    font-size: 1.6em;
    vertical-align: middle;
    margin-right: 5px;
}

.dropdown-menu2 .dropdown-menu-box i {
    color:#1c4ba4;
    font-size: 1.6em;
    vertical-align: middle;
    margin-right: 5px;
}

.dropdown-menu3 .dropdown-menu-boxx {
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 60px;
    margin: 20px 10px;
}

.dropdown-menu3 .dropdown-menu-box {
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 60px;
}

/* .dropdown-menu3 .dropdown-menu-box:hover {
    box-shadow: 0 0 0 1px black;
} */

#box-hover1:hover {
    box-shadow: 0 0 0 1px #09ff00;
}

#box-hover2:hover {
    box-shadow: 0 0 0 1px #ff8400;;
}

#box-hover3:hover {
    box-shadow: 0 0 0 1px #ff002b;;
}

.dropdown-menu3 .dropdown-menu-box a {
    color: black;
    font-size: 1.6em;
    
}

.dropdown-menu3 .dropdown-menu-box i {
    color:#1c4ba4;
    font-size: 1.6em;
    vertical-align: middle;
}

.dropdown-menu-box {
    margin: 20px 10px;
}

.dropdown-menu .dropdown-menu-box a:hover {
    color: #1c4ba4;
}

.dropdown-menu2 .dropdown-menu-box a:hover {
    color: #1c4ba4;
}

.dropdown-header {
    font-size: 2.3em;
}

.get-started {
    display: inline-block; 
    vertical-align: middle;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
}

.get-started span{
    color: #575957;
    font-size: 0.9em;
}

/* Navbar Log In */

.bookings {
    line-height: 60px;
    float: right;
    margin-right: 20px;
}

nav .bookings a {
    padding: 15px;
    color: white;
    font-weight: 700;
    font-size: 1.4em;
    margin: 15px;
}

nav .bookings a:hover {
    text-decoration: underline;
}

nav .bookings button {
    padding: 10px 25px;
    border-style: none;
    background-color:#7ed957;
    color: white;
    cursor: pointer;
    font-weight: 800;
    text-shadow: 1px 1px black;
    font-size: 1.3em;
    
}

/* Hamburger Menu */
.checkbtn {
    color: black;
    font-size: 30px;
    line-height: 60px;
    float: right;
    padding-right: 20px;
    display: none;
    cursor: pointer;
}

#check {
    display: none;
}



  .hero-header {
    font-family: 'Raleway', sans-serif;
    margin: 0.4em 0;
    font-size: 18px;
    color: black;
    font-size: 5em;
    font-weight: 900;
  }
  span {
    color:#1c4ba4;
  }
.hero {
    padding-top: 150px;
}

.header {
    margin: auto;
    width: 67%;
}

.herohead {
    float: left;
    width: 50%;

}

.herosub {
    font-size: 3em;
    font-weight: 400;
    padding-top: 25px;
}

.heropic {
    float: left;
    width: 50%;
}

.heroheader {
    margin: auto;
    width: 67%;
}

.heroimage {
    width: 100%;
    height: auto;
}

.herobtn {
    margin-top: 60px;
    background-color: #1c4ba4;
    padding: 25px 60px;
    color: white;
    border: none;
    border-radius: 45px;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
}

.third {
    margin-top: 500px;
    height: 1000px;
    background-color: #1c4ba4;
}

@media (max-width: 1199.98px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav .bookings {
        display: none;
    }
    
    nav {
        padding-left: 0;
        padding-right: 0;

    }



    .logo {

        margin-left: 10px;
    }
}

