body {
    background-color: #fff0e5;
}


.goals {
    position: relative;
    height: 92px;
    transition: 0.3s ease;
}

.goals:hover {
    cursor:pointer;
}

.goalsx {
    position: relative;
    height: 155px;
    transition: 0.3s ease;

}

.goalsx:hover {
    cursor:pointer;
}


.goalsText {
    position: relative;
    right: 0%;
    transition: right ease 0.3s;
}



.title1, .title2, .title3, .title4 {
    position: relative;
    right: 0%;
    transition: right ease 0.3s;
}

#goal1 {
    border-bottom: 1px solid black;
}

#goal2, #goal3 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#goal4 {
    border-top: 1px solid black;
}

.courses {
    height: 180px;
    border: 1px solid black;
    transition: 0.25s ease;
    background-color: white;
   
}

.coursesx {
    height: 180px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    background-color: white;
   
}

.courses:hover {
    cursor:pointer;
    box-shadow: -10px 10px black; 
    transform: translate(10px, -10px);
}

.goal {
    height: 100px;
    width: 400px;
}

.grid {
    background: radial-gradient(rgba(0, 0, 0, 0.448) 1px, transparent 1px);
    background-size: 20px 20px;
}

.iBox {
    height: 100px;
    width: 280px;
    background: white;
    margin-top: 40px;
}

.uBox {
    background-color: #deccea;
    }

.cBox {
    height: 155px;
}

h5 {
    line-height: 22px
}

li {
    font-size: 14px;
}

.bot {
    font-size: 14px;
    line-height: 25px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23eeeeee' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23eeeeee' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .courses {
        width: 240px;
    }

    .iBox {
        width: 200px;
    }

    .goals:hover {
        background-color: white;
        cursor:pointer;
        height: 102px !important;
    }

    .goalsx:hover {
        background-color: white;
        cursor:pointer;
        height: 164px !important;
    }

    .goals:hover .goalsText {
        right: -6px;
    }
    .goals:hover .title1, .goals:hover .title2, .goals:hover .title3, .goals:hover .title4 {
        right: -6px;
    }
    
    .goalsx:hover .goalsText {
        right: -6px;
    }
    .goalsx:hover .title1, .goalsx:hover .title2, .goalsx:hover .title3, .goalsx:hover .title4 {
        right: -6px;
    }

    .courseTop {
        margin-top: 20px;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .courses {
        width: 265px;
    }

    .iBox {
        width: 220px;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .courses {
        width: 300px;
    }

    .iBox {
        width: 265px;
    }
}





