body {
    background-color: #fff0e5;
}


.goals {
    height: 100px;
    width: 400px;
    transition: 0.25s ease;
}

.goals:hover {
    background-color: white;
    cursor:pointer;
    height: 110px;
    
}

.goalsText {
    position: relative;
    right: 0%;
    transition: right ease 0.2s;
}

.title1, .title2, .title3, .title4 {
    position: relative;
    right: 0%;
    transition: right ease 0.2s;
}

.goals:hover .goalsText {
    right: -6px;
}
.goals:hover .title1, .goals:hover .title2, .goals:hover .title3, .goals:hover .title4 {
    right: -6px;
}


#goal1 {
    border-bottom: 1px solid black;
}

#goal2, #goal3 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#goal4 {
    border-top: 1px solid black;
}

.courses {
    height: 180px;
    width: 300px;
    border: 1px solid black;
    transition: 0.25s ease;
    background-color: white;
    
}

.courses:hover {
    cursor:pointer;
    box-shadow: -10px 10px black; 
    transform: translate(10px, -10px);
}

.goal {
    height: 100px;
    width: 400px;
}

.grid {
    background: radial-gradient(rgba(0, 0, 0, 0.448) 1px, transparent 1px);
    background-size: 20px 20px;
}

/* .col-7, .container, .col-5, .row, .col {
    border: 1px solid black;
} */

.iBox {
    height: 100px;
    width: 265px;
    background: white;
}

.uBox {
    background-color: #deccea;
    }





